.navbar-dark {
	background-color: #128c7e;
	height: 40px;
	padding-top: 20px;
}

.footer {
	background-color: #128c7e;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}
