.navbar-dark {
	background-color: #128c7e;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
}

.footer {
	background-color: #128c7e;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

.card {
	background-color: #fcfa91;
	padding-left: 30px;
	padding-right: 30px;
	max-width: fit-content;
	word-wrap: break-word;
}

.card-body {
	text-rendering: auto;
	margin: auto;
}

.container {
	padding-right: 20px;
}
