.navbar-dark {
	background-color: #128c7e;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
}

.footer {
	background-color: #128c7e;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}
